  h1 {
       color:rgb(126, 77, 13);
    }
  h2 {
      color: rgb(6, 27, 27);
      
    }
  #first {
      color: red;
      
   }
  .second{
    border-style: double;
    border-color: cadetblue;
    color:rgb(1, 16, 16);
    padding-top: 60px;
  }
  *{
    text-align:center;
  }
div p{
  color: darkslategray;
}
body{
  padding-top: 30px;
  background-color: antiquewhite;
  background-image: url("./images/2.jpg");
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: 400pt;
}